/*CSS reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/*General Styles ==============================*/
body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4f4f4f;
}

a , h2, button,p {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    text-decoration: none;
}
/*Helper Class ================================*/
.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
/*Header =======================================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0;
    background-color: #1d1d1f;
}
.name {
    font-size: 3rem;
    font-family:'Lobster', cursive;
    margin-left:2%;
    color: #fff;
}
header nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.links a {
    text-align: center;
    width: 100%;
    padding: 2%;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}

/*Top =======================================*/
.container {
    width: 80%;
    margin: 2% auto;
    text-align: center;
    background-color: #fff;



}
.top {
    background-image: url("/Graphics/blacktitleimg.jpg");
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: whitesmoke;
    font-size: 3rem;
}
.text button {
    padding: 3% 12%;
    position: relative;
    bottom: 25px;
}

/* Middle ==================================*/
.middle {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}
.box {
    margin: 3% auto;
    width: 30%;
    height:80%;


}
.box img {
    object-fit: cover;
    height:30vh;
    width: 100%;
}

/*Bottom ======================================*/
footer {
    padding: 2%;
    text-align: center;
    background-color: #1d1d1f;
}
footer button {
    padding: 0.5% 2%;
}

/*Tablet =======================================*/
@media (max-width: 800px) {
    .top {
        width:90%;
    }
    .middle {

    }
}

/*Mobile =======================================*/
@media (max-width: 500px) {
    .container {
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
    }
    .name {
        font-size: 2rem;
        margin-right: 4%;
    }
    .links {
        margin: 2% auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        font-size: 1rem;
        width: 50%;
    }
    .top {
        height: 50vh;
    }

    .box {
        margin: 2%;
        width: 40%;
    }
    .box img {
        height: 20vh;
    }
    footer {
        padding: 5%;
    }

}